body {
}
#heading {
  background-color: darkred;
}
#heading:hover {
  background-color: aqua;
}
h1 {
  font-size: 50px;
  text-shadow: 3px 3px yellow;
}
p {
  font-size: 30px;
  text-shadow: 2px 2px white;
}
#train_name:hover,
#destination-input:hover,
#train-input:hover,
#frequency-input:hover {
  background-color: yellow;
}
tr:hover {
  background-color: yellowgreen;
}
